



		
	

				

		
	

	
	
	
				
				
		
			
			
			
			
					
						
			
				
			
		
									
	
																			

			
		
	
			
	
		
											
		
																						
																																		
											
																																		
											
			
																												
																																					
														
				
			
		
		
																						
			
																												
				
			
			
		
		
			
															
			
																			
				
					
																																					
																																		
																																		
																					
																										
			
		
	
		
		
			
			
		
	



	
	
	
	
	
	
	
		
		
		
								
																												
		
						

	

@charset "UTF-8";













.p-preload-top-swiper{aspect-ratio:1200/628;background:url(https://c1.dmarket.docomo.ne.jp/assets/img/icon_assets_preload.svg?v=202604141000&d=pc) no-repeat center center;background-size:32px auto;display:grid;gap:16px;grid-template-rows:1fr;width:100%}.p-top-swiperPagination-preloader{height:30px}:root{--bubbleHeight:16px}.p-top-submenu-wrapper{display:grid;gap:var(--default) 0}.p-top-submenu{display:grid;grid-template-columns:repeat(4,1fr)}.p-top-submenu.--upper:has(.--show){padding-top:var(--bubbleHeight)}.p-top-submenu.--lower:has(.--show){padding-top:var(--narrow)}.p-top-submenu li{position:relative}.p-top-submenu-bubble{display:none;left:50%;position:absolute;top:-12px;transform:translateX(-50%);transition:.3s ease;width:fit-content;z-index:1}.p-top-submenu-bubble.--show{display:block}.p-top-submenu-bubble.--point{width:74px}.p-top-submenu-bubble.--play{width:78px}.p-top-submenu-item{display:grid;gap:4px;grid-template-rows:32px auto;justify-content:center;margin:auto;width:81.25px}.p-top-submenu-icon{height:28px;margin:auto;width:28px}.p-top-submenu-text{font-size:var(--xsmall-fontSize);font-weight:var(--bold-700);line-height:var(--narrow-lineHeight);text-align:center}.p-top-firstView{display:grid;grid-template-rows:auto;padding:0 var(--default) var(--default)}.p-top-firstView__content>*+*{margin-top:var(--default)}.p-top-firstView__newUserBnr{display:block;height:40px;margin-bottom:var(--narrow);margin-inline:-16px;overflow:hidden}.p-top-firstView__newUserBnr img{height:100%;object-fit:cover;object-position:center;width:100%}.p-top-concept{align-items:center;display:flex;justify-content:center;margin-bottom:12px;padding-top:4px}.p-top-concept:before{aspect-ratio:1/1;background:url(https://c1.dmarket.docomo.ne.jp/assets/img/icon_assets_dpoint.svg?v=202511251000&d=pc) no-repeat center -1px;background-size:contain;content:"";display:block;height:auto;margin-right:5px;width:19px}.p-top-concept__text{font-size:var(--small-fontSize);font-weight:var(--bold-700);letter-spacing:1px;line-height:var(--narrow-lineHeight)}.p-top-kv{aspect-ratio:310/111;background:url(https://c1.dmarket.docomo.ne.jp/assets/img/icon_assets_preload.svg?v=202511251000&d=pc) no-repeat center center;background-size:32px auto;display:block;overflow:hidden;width:100%}.p-top-kv.is-image-loaded{background-image:none}.p-top-kv>img{height:100%;object-fit:contain;width:100%}.p-top-swiper-slide{padding-left:10%;width:91%}@media (min-width:1000px){.p-top-swiper-slide{padding-left:70px;width:690px}}.p-top-swiper-button-next,.p-top-swiper-button-prev{cursor:pointer;height:calc(100% - 30px);position:absolute;top:0;width:68px;z-index:10}@media screen and (max-width:640px){.p-top-swiper-button-next,.p-top-swiper-button-prev{width:9.8666666667%}}@media screen and (min-width:641px) and (max-width:999px){.p-top-swiper-button-next,.p-top-swiper-button-prev{width:9.009009009%}}@media screen and (min-width:1000px) and (max-width:1099px){.p-top-swiper-button-next,.p-top-swiper-button-prev{width:9.0666666667%}}.p-top-swiper-button-next{right:0}.p-top-swiper-button-prev{left:0}.p-top-swiper-pagination{align-items:center;display:flex;gap:0 var(--default);height:36px;justify-content:center;width:100%}.p-top-swiper-pagination .swiper-pagination-bullet{height:4px;width:4px}.p-top-swiperSlidePreload{align-items:center;aspect-ratio:375/157.47;display:flex;justify-content:center;width:100%}.p-top-swiperSlidePreload::before{background:url(https://c1.dmarket.docomo.ne.jp/assets/img/icon_assets_preload.svg?v=202511251000&d=pc) no-repeat center center;background-size:32px auto;content:"";display:block;flex:0 0 32px;height:32px;width:32px}.p-top-welcome{--welcome-lead-max-width:328px}.p-top-welcome>*+*{margin-top:var(--narrow)}.p-top-welcome__lead{margin-inline:auto;width:var(--welcome-lead-max-width)}.p-top-btn-welcome{align-items:center;background-color:#fff;border:1px solid var(--primary500);border-radius:var(--rc-narrow);cursor:pointer;display:flex;gap:6px;justify-content:center;padding:14px;position:relative;text-align:center;width:100%}.p-top-btn-welcome__img{flex:0 0 20px}.p-top-btn-welcome__text{color:var(--primary500);font-size:var(--medium-fontSize);font-weight:var(--bold-700);letter-spacing:.01em}.p-top-info-link{align-items:center;background-color:var(--bg100);display:flex;gap:8px;min-height:36px;padding:5.5px 12px}.p-top-info-link::before{background:url(https://c1.dmarket.docomo.ne.jp/assets/img/icon_assets_info.svg?v=202511251000&d=pc) no-repeat center right;background-size:contain;content:"";display:block;flex-shrink:0;height:16px;width:16px}.p-top-info-link::after{background:url(https://c1.dmarket.docomo.ne.jp/assets/img/icon_assets_arrow_gray600.svg?v=202511251000&d=pc) no-repeat center right;background-size:contain;content:"";display:block;flex-shrink:0;height:16px;width:10px}.p-top-info-link__text{-webkit-box-orient:vertical;display:-webkit-box;font-size:var(--small-fontSize);-webkit-line-clamp:2;overflow:hidden;width:100%}.p-top-article-tabs{border-bottom:2px solid var(--primary500);display:flex;justify-content:center;padding:0 var(--bs16)}.p-top-article-tabs__tab{align-items:center;background-color:#fff;border:solid var(--gray200);border-radius:4px 4px 0 0;border-width:1px 1px 0;cursor:pointer;display:flex;flex:1;font-size:var(--small-fontSize);font-weight:var(--bold-700);justify-content:center;padding:10px 10px 8px;white-space:nowrap}.p-top-article-tabs__tab:active,.p-top-article-tabs__tab:hover,.p-top-article-tabs__tab:visited{color:var(--primary500)}.p-top-article-tabs__tab.--current{background-color:var(--primary500);border-color:var(--primary500);color:#fff;cursor:default}.p-top-article-contents{display:grid;gap:var(--bs8);grid-template-columns:repeat(2,1fr);padding:var(--bs16) var(--bs16) 0}.p-top-article-link{border:1px solid var(--gray200);display:grid;gap:3px;grid-template-rows:1fr;padding:8px}.p-top-article-link__thumb{aspect-ratio:150/84;display:block;overflow:hidden}.p-top-article-link__thumb img{height:100%;object-fit:contain;width:100%}.p-top-article-link__title{-webkit-box-orient:vertical;display:-webkit-box;-webkit-line-clamp:3;overflow:hidden}.p-top-floatingBanner{bottom:16px;left:50%;max-width:344px;position:fixed;transform:translateX(-50%);width:100%;z-index:199}@media screen and (min-width:1000px){.p-top-floatingBanner{left:calc(50% + 160px)}}.p-top-floatingBanner__close{cursor:pointer;padding:12px;position:absolute;right:-16px;top:-24px}.p-top-slideBanner{margin-inline:-16px;overflow:hidden}.p-top-slideBanner__inner{display:flex;flex-wrap:nowrap;gap:var(--veryNarrow);max-width:100vw;-webkit-overflow-scrolling:touch;overflow-x:auto;padding-left:var(--default);transform:translateZ(0)}@media screen and (min-width:1000px){.p-top-slideBanner__inner{max-width:752px}}.p-top-slideBanner__inner::-webkit-scrollbar{display:none}@media screen and (min-width:1000px){.p-top-slideBanner__inner{padding:0 0 var(--narrow) var(--default)}.p-top-slideBanner__inner::-webkit-scrollbar{background-color:var(--monoWhite);display:block;height:8px}.p-top-slideBanner__inner::-webkit-scrollbar-thumb{background-color:var(--gray200);border-radius:5px}}.p-top-slideBanner__inner li{flex:0 0 100px}.p-top-layout-card-swiper{margin-bottom:-8px}.p-top-swiper-pagination-section{align-items:center;display:flex;gap:0 var(--default);height:auto;justify-content:center;position:relative;top:var(--narrow);width:100%}.p-top-swiper-pagination-section .swiper-pagination-bullet{height:4px;width:4px}@media screen and (min-width:641px){.u-display-hide-pc-tb.p-top-swiper-pagination-section{display:none}}@media screen and (max-width:640px) and (orientation:landscape){.u-display-hide-pc-tb.p-top-swiper-pagination-section{display:none}}.p-top-slider-card{display:flex;flex-wrap:nowrap;overflow-x:auto;padding:0 var(--default)}.p-top-slider-card .c-card-lite{flex:0 0 86px}.p-top-slider-card::-webkit-scrollbar{display:none}@media screen and (min-width:1000px){.p-top-slider-card{padding-bottom:var(--narrow)}.p-top-slider-card::-webkit-scrollbar{background-color:#fff;display:block;height:8px}.p-top-slider-card::-webkit-scrollbar-thumb{background-color:var(--gray200);border-radius:5px}}.p-top-swiper{margin-bottom:calc(-1 * var(--wide))}@media screen and (max-width:640px){[class^=u-display-hide-]+.u-position-center-flex{margin-top:var(--narrow)}}

